<div class="outer">
  <div class="wrapper">
    <a class="profile-bg main-wrapper d-block"></a>
    <div>
      <a href="#" id="profile-link">
        <img id="profile" src="img/profile.png" id="profile.png" />
      </a>
      <div id="profile-marg">
        <div id="profile-name">
          <a href="#">{{user.name}}</a>
        </div>
        <div id="profile-at">
          <span>
            <a href="#">@<span>{{user.username}}</span></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

{{#each tweets as |t|}}
  <div class="tweet-wrap">
    <div class="tweet-header">
      <img src="img/profile.png" alt="profile.png" class="profile" />
      <div class="tweet-header-info">
        <form action="/delete" method="post">
          <input type="hidden" name="id" value="{{t._id}}" />
          <button class="btn" type="submit">Delete</button>
        </form>
        {{t.user_id}}
        <span>@{{t.user_id}}</span><span>{{t.date}}</span>
        <p>{{t.tweet}}</p>

        <div class="tweet-img-wrap">
          <img src="img/twit-img.jpg" alt="twit-img.jpg" class="tweet-img" />
        </div>
      </div>
    </div>
  </div>
{{/each}}